/* Coolors Exported Palette - https://coolors.co/086375-1dd3b0-affc41-b2ff9e */

/* CSS HEX */
--stormy-teal: #086375ff;
--turquoise: #1dd3b0ff;
--green-yellow: #affc41ff;
--light-green: #b2ff9eff;

/* CSS HSL */
--stormy-teal: hsla(190, 87%, 25%, 1);
--turquoise: hsla(168, 76%, 47%, 1);
--green-yellow: hsla(85, 97%, 62%, 1);
--light-green: hsla(108, 100%, 81%, 1);

/* SCSS HEX */
$stormy-teal: #086375ff;
$turquoise: #1dd3b0ff;
$green-yellow: #affc41ff;
$light-green: #b2ff9eff;

/* SCSS HSL */
$stormy-teal: hsla(190, 87%, 25%, 1);
$turquoise: hsla(168, 76%, 47%, 1);
$green-yellow: hsla(85, 97%, 62%, 1);
$light-green: hsla(108, 100%, 81%, 1);

/* SCSS RGB */
$stormy-teal: rgba(8, 99, 117, 1);
$turquoise: rgba(29, 211, 176, 1);
$green-yellow: rgba(175, 252, 65, 1);
$light-green: rgba(178, 255, 158, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #086375ff, #1dd3b0ff, #affc41ff, #b2ff9eff);
$gradient-right: linear-gradient(90deg, #086375ff, #1dd3b0ff, #affc41ff, #b2ff9eff);
$gradient-bottom: linear-gradient(180deg, #086375ff, #1dd3b0ff, #affc41ff, #b2ff9eff);
$gradient-left: linear-gradient(270deg, #086375ff, #1dd3b0ff, #affc41ff, #b2ff9eff);
$gradient-top-right: linear-gradient(45deg, #086375ff, #1dd3b0ff, #affc41ff, #b2ff9eff);
$gradient-bottom-right: linear-gradient(135deg, #086375ff, #1dd3b0ff, #affc41ff, #b2ff9eff);
$gradient-top-left: linear-gradient(225deg, #086375ff, #1dd3b0ff, #affc41ff, #b2ff9eff);
$gradient-bottom-left: linear-gradient(315deg, #086375ff, #1dd3b0ff, #affc41ff, #b2ff9eff);
$gradient-radial: radial-gradient(#086375ff, #1dd3b0ff, #affc41ff, #b2ff9eff);